@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('components/banner.css');
@import url('components/cards.css');
@import url('components/footer.css');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Roboto Slab, serif;
}

p{
  font-family: Roboto Slab, serif;
}

a {
  text-decoration: none;
}
